body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.box { 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    
}
.icon{
    width: 80px;
    height: 80px;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 0 20px;
}
.icon img{
    width: 50px;
    height: auto;
}
.title {
    width: 130px;
}
.title h3{
    opacity: 0.7;
}
.random{
    opacity: 0.5;
    margin-top: -20px;
    max-width: 300px;
}